<div class="mainWrapper">
  <div class="formWrapper">
    <h1>User Form</h1>
    <form [formGroup]="userForm">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input matInput placeholder="Enter Name" type="text" required formControlName="firstName" />
          <mat-error>Please provide valid First Name</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input matInput placeholder="Enter Name" type="text" required formControlName="lastName" />
          <mat-error>Please provide valid Last Name</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Name" type="email" required formControlName="email" />
          <mat-error>Please provide valid Email</mat-error>
        </mat-form-field>
      </div>

      <div class="buttonWrapper">
        <button mat-raised-button color="primary" (click)="isSave? onUpdate():onSubmit()" [disabled]="userForm.invalid">
          {{isSave? 'Update' :'Submit'}}
        </button>
      </div>
    </form>
  </div>

  <div class="tableWrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" [hidden]="isTable">
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>LastName</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-column">
          <div class="actionButton">
            <button class="action-btn" mat-raised-button color="accent" (click)="editData(element)">
              Edit
            </button>
            <button class="action-btn" mat-raised-button color="warn" (click)="deleteData(element)">
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="notfound" *ngIf="isTable">
      <h1 class="error">Data Not Found</h1>
    </div>
  </div>
</div>